body{
    background : #0f0e17;
    width: 800px;
    margin:auto;
    text-align: center 

  }

  header.container {
    /* insère ton style ici */
  }
  
  header .container img{
    width : 100px;
  }
  
  nav .flex-container {
    display:flex;
    justify-content: center
}
  
  nav ul {
    padding:0;
    margin:0;
    list-style-type:none;
  }
  
  nav li {
    margin-left:2px;
    float:left; 
  }
  
  nav li a {
    display:inline;
    text-align:center;
     color:  #fffffe;
  }
  
  section{
    background-color: #fffffe;
}
  
  h2{
    color:  #ff8906;
  }
  
  p{
    color:  #0f0e17;
  }
  
  footer {
    /* insère ton style ici */
}
